.copyright
  Code at Github: <a class="" href='git@github.com:CliveIMPISA/teampay-db-views.git'>CliveIMPISA/teampay-db-views</a>
  %br
  Based on: <a class="" href='https://github.com/ISS-SOA/codecadet'>codecadet</a> by <a class="" href='https://github.com/CliveIMPISA/teampay-db-views'>Clive, Amon, Jevon</a>
