#header_wrapper
  %nav{:id => 'menu'}
    %ul

      %li{:class => "current_page_item"}
        %a{:href => '/', :id => 'home'} Home

      %li{:class => 'current_page_item'}
        %a{:href => '/salary', :id => 'salary'} Team Salary

      /
        %li{:class => 'current_page_item'}
          %a{:href => '/individualsalaries', :id => 'salary'} Compare Salaries
